@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bitter:ital,wght@1,100;1,300;1,700&family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family:'Dancing Script', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background: url(https://i.pinimg.com/originals/b8/83/fc/b883fc84b57235e6fe57f409716ae68d.gif);
  background-size: cover;
  text-decoration: none;
}

code {
  font-family: 'Dancing Script', cursive;
}
